body {
    background-image: url(../../assets/img/abstrait-numerique-grille-fond-noir.jpg);
    background-size: cover;
}

.containerMain {
    height: 70vh;
    width: 40%;
    background-color: rgb(121, 121, 121);
    border: 2px solid #00CFDC;
}

.titreCenter {
    width: 20rem;
}

.liste {
    background-color: rgb(79, 79, 79);
}

.h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    color: #00CFDC;
}

.validé {
    border: 1px solid #00CFDC;
    color: #00CFDC;
}

.terminee {
    background-color: #00CFDC;
    color: black;
}
.validé:hover {
    color: #00CFDC;
    border: 1px solid #00CFDC;
}
.terminee:hover {
    color: black;
    background-color: #00CFDC;
}

.eb {
    background-color: #00CFDC;
}
.eb:hover {
    color: #00CFDC;
    border: 1px solid #00CFDC;
}